body {
    background: black;
}

#sheet {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin: auto;
}

tr {
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

th {
    margin-left: 20px;
    width: 250px;
    height: 250px;
    border: 2px solid white;
}

p {
    color: white;
}

#day1img {
    display: none;
    width: 250px;
    height: 250px;
}

#day2img {
    display: none;
    width: 250px;
    height: 250px;
}

#day3img {
    display: none;
    width: 250px;
    height: 250px;
}

#day4img {
    display: none;
    width: 250px;
    height: 250px;
}

#day5img {
    display: none;
    width: 250px;
    height: 250px;
}

#day6img {
    display: none;
    width: 250px;
    height: 250px;
}#day7img {
    display: none;
    width: 250px;
    height: 250px;
}#day8img {
    display: none;
    width: 250px;
    height: 250px;
}#day9img {
    display: none;
    width: 250px;
    height: 250px;
}#day10img {
    display: none;
    width: 250px;
    height: 250px;
}#day11img {
    display: none;
    width: 250px;
    height: 250px;
}#day12img {
    display: none;
    width: 250px;
    height: 250px;
}#day13img {
    display: none;
    width: 250px;
    height: 250px;
}#day14img {
    display: none;
    width: 250px;
    height: 250px;
}#day15img {
    display: none;
    width: 250px;
    height: 250px;
}#day16img {
    display: none;
    width: 250px;
    height: 250px;
}#day17img {
    display: none;
    width: 250px;
    height: 250px;
}#day18img {
    display: none;
    width: 250px;
    height: 250px;
}#day19img {
    display: none;
    width: 250px;
    height: 250px;
}#day20img {
    display: none;
    width: 250px;
    height: 250px;
}#day21img {
    display: none;
    width: 250px;
    height: 250px;
}#day22img {
    display: none;
    width: 250px;
    height: 250px;
}#day23img {
    display: none;
    width: 250px;
    height: 250px;
}#day24img {
    display: none;
    width: 250px;
    height: 250px;
}
