body {
    background: black;
    margin: 0;
}

#sheet {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin: auto;
}

tr {
    height: 100%;
    width: 100%;
}

th {
    width: 235px;
    height: 235px;
}

img{
    width: 235px;
    height: 235px;
}

